# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
C:\\Users\\alum-01\\Desktop\\keys\\ssh-key-2024-03-15.key

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
